h1{
    color:#ffff00;
    font-size:50px;
    font-weight: bold;
    font-family: "Impact";
    text-align: center;
    background-color:#444444;
}

p{
    //background-color:yellow
}

body{
    background-image: url(../images/01.jpg);
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: right;
}
